@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding:0 300px;
    background-color: #d4a91e;
    width: 100%;
    color: white;
    position: fixed;
    z-index: 10;
    backdrop-filter: blur(5px);
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    height: 60px;
    width: auto;
    border-radius: 50%;
}

.logo h1{
    font-size: 20px;
}

.links{
    display: flex;
    gap: 20px;
}

.links a{
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    color: white;
    transition: 0.5s;
}

.links a:hover{
    color: rgb(255, 92, 33);
    transform: scale(1.1);
}

.cta a{
    background-color: rgb(255, 92, 33);
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.cta a:hover{
    background-color: rgb(251, 182, 147);
    color: orangered;
}

main{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-main{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('https://lh3.googleusercontent.com/p/AF1QipMUDmA1JpYuDmJZg-GjtBwNHhG096sssFQPQ_jM=s680-w680-h510-rw');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.3;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    margin-top: 70px;
}

.destaque-top{
    background-color: rgba(255, 255, 255, 0.251);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    width: auto;
    margin-top: 20px;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.811);

}

.destaque-bottom{
    display: flex;
    gap: 50px;
    
    
}

.text{
    text-align: center;
    font-size: 36px;
}

.text h1{
    
    color: rgb(43, 51, 99);
    line-height: 1.1;
    font-weight: 1000;
    margin-top: 20px;
}

.text p{
    margin-top: 20px;
    font-size: 18px;
    color: rgb(43, 51, 99);
}

.text span{
    color: rgb(249, 115, 48);
}

.buttons-main {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}


.buttons-main a{
    text-decoration: none;
    color: white;
    background-color: rgb(249, 115, 48);
    padding: 15px 30px;
    border-radius: 10px;
}

.services{
}

.text-services{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px;
}

.text-services h1{
    font-size: 62px;
    color: rgb(43, 51, 99);
    line-height: 1.1;
    margin-bottom: 10px;
}

.text-services span{
    color: rgb(249, 115, 48);
}

.title, .title-contact{
    background-color: rgb(249, 115, 48);
    border: 1px solid rgba(255, 255, 255, 0.811);
    padding: 7px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    width: fit-content;
}

.wrapper-services{
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.box-services{
    background-color: rgb(249, 115, 48);
    width: 600px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    color: white;

}

.box-services img{
    height: 300px;
    width: 100%;
    border-radius: 12px;
}

.box-details p{
    display: inline-block;
    margin: 15px;
    margin-left: 0;
    background-color: rgba(187, 182, 182, 0.411);
    padding: 10px;
    border-radius: 20px;
    font-size: 10px;
}

.diferenciais{
    background-color: rgb(240, 239, 239);
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    margin-top: 100px;
    height: auto;

}

.text-diferenciais{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px;
}

.text-diferenciais h1{
    font-size: 62px;
    color: rgb(43, 51, 99);
    line-height: 1.1;
    margin-bottom: 10px;
}

.text-diferenciais span{
    color: rgb(249, 115, 48);
}

.wrapper-info{
    display: flex;
    gap: 50px;
    flex-direction: column;
    margin-bottom: 50px;
}

.box-info{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 300px;
    height: 70vh;
}

.left-content{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 50%;
    height: 600px;
}

.left-content span{
    color: rgb(249, 115, 48);
}

.left-content h1{
    font-size: 48px;
    color: rgb(43, 51, 99);
    line-height: 1.1;
}

.card-info{
    margin: 20px 5px;
}

.right-content{
    width: 50%;
    background-color: rgb(251, 139, 82);
    height: 600px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

.right-content a{
    margin: 10px;
    padding: 10px;
    background-color: rgb(43, 51, 99);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 20px;
    width: 200px;
}


